[Unit]
Description = Fan control for rpi, pin num:14
After=network.target

[Service]
Type=simple
ExecStart=fan --create-server 
ExecStop=fan --cmd QUIT

[Install]
WantedBy=multi-user.target

