Package: fan
Version: 0.1.0
Architecture: arm64
Depends: python3, python3-pip, python3-zmq
Maintainer: Altay Atalay
Description: Python rpi fan control (Python 3)
    This package needs the library [zmq, gpio] for Python 3.
