[Unit]
Description = Fan control for rpi, pin num:14
After=network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/fan/scripts/fan.sh
ExecStop=/home/ubuntu/fan/scripts/fan_c.sh QUIT

[Install]
WantedBy=multi-user.target

